/* body { */
/* 	/\* padding-top: 50px; *\/ */
/* 	background:  url(https://farm3.staticflickr.com/2386/1914209946_748563fac8_m.jpg) 0px 0px no-repeat, */
/* url(https://farm3.staticflickr.com/2167/2462432761_547ce44e12_m.jpg) 0px 100px no-repeat, */
/* url(https://farm4.staticflickr.com/3262/2620965757_8d18f2e482_m.jpg) 0px 200px no-repeat, */
/* url(https://farm4.staticflickr.com/3140/2816373160_c3b573ba8e_m.jpg) 0px 300px no-repeat, */
/* url(https://farm3.staticflickr.com/2535/3757428818_fa45d90568_m.jpg) 0px 400px no-repeat, */
/* url(https://farm3.staticflickr.com/2625/3800512572_51d049dfa8_m.jpg) 0px 500px no-repeat, */
/* url(https://farm5.staticflickr.com/4050/4241748257_dff3e85dd4_m.jpg) 0px 600px no-repeat, */
/* url(https://farm3.staticflickr.com/2771/4450232588_18cc22a007_m.jpg) 0px 700px no-repeat, */
/* url(https://farm6.staticflickr.com/5050/5254836596_9cc26ed67c_m.jpg) 0px 800px no-repeat, */
/* url(https://farm6.staticflickr.com/5111/5810605087_2133aef8a3_m.jpg) 0px 900px no-repeat, */
/* url(https://farm9.staticflickr.com/8163/7100889043_5930cabbb2_m.jpg) 0px 1000px no-repeat, */
/* url(https://farm9.staticflickr.com/8455/7947373148_b03fe3256e_m.jpg) 0px 1100px no-repeat, */
/* url(https://farm9.staticflickr.com/8171/7947373590_ccb0a49a4c_m.jpg) 0px 1200px no-repeat, */
/* url(https://farm9.staticflickr.com/8452/8072078291_ed77490870_m.jpg) 0px 1300px no-repeat, */
/* url(https://farm9.staticflickr.com/8040/8072990632_8bda3a1559_m.jpg) 0px 1400px no-repeat, */
/* url(https://farm9.staticflickr.com/8163/7100889043_5930cabbb2_m.jpg) 100px 0px no-repeat, */
/* url(https://farm9.staticflickr.com/8455/7947373148_b03fe3256e_m.jpg) 100px 100px no-repeat, */
/* url(https://farm9.staticflickr.com/8171/7947373590_ccb0a49a4c_m.jpg) 100px 200px no-repeat, */
/* url(https://farm9.staticflickr.com/8452/8072078291_ed77490870_m.jpg) 100px 300px no-repeat, */
/* url(https://farm9.staticflickr.com/8040/8072990632_8bda3a1559_m.jpg) 100px 400px no-repeat, */
/* url(https://farm9.staticflickr.com/8324/8128572986_d1133a95d5_m.jpg) 100px 500px no-repeat, */
/* url(https://farm9.staticflickr.com/8058/8264585291_d16e025a5b_m.jpg) 100px 600px no-repeat, */
/* url(https://farm9.staticflickr.com/8074/8289800698_8906ce36fa_m.jpg) 100px 700px no-repeat, */
/* url(https://farm9.staticflickr.com/8351/8289803556_19f7364041_m.jpg) 100px 800px no-repeat, */
/* url(https://farm9.staticflickr.com/8114/8670004919_95e74d3f17_m.jpg) 100px 900px no-repeat, */
/* url(https://farm9.staticflickr.com/8261/8670005623_8c36a7640b_m.jpg) 100px 1000px no-repeat, */
/* url(https://farm9.staticflickr.com/8403/8671115994_f413b74462_m.jpg) 100px 1100px no-repeat, */
/* url(https://farm9.staticflickr.com/8400/8695195511_2ea0c4ac63_m.jpg) 100px 1200px no-repeat, */
/* url(https://farm9.staticflickr.com/8113/8696318254_dc3ed164d6_m.jpg) 100px 1300px no-repeat, */
/* url(https://farm3.staticflickr.com/2856/9087848961_93e5b5a149_m.jpg) 100px 1400px no-repeat, */
/* url(https://farm9.staticflickr.com/8261/8670005623_8c36a7640b_m.jpg) 200px 0px no-repeat, */
/* url(https://farm9.staticflickr.com/8403/8671115994_f413b74462_m.jpg) 200px 100px no-repeat, */
/* url(https://farm9.staticflickr.com/8400/8695195511_2ea0c4ac63_m.jpg) 200px 200px no-repeat, */
/* url(https://farm9.staticflickr.com/8113/8696318254_dc3ed164d6_m.jpg) 200px 300px no-repeat, */
/* url(https://farm3.staticflickr.com/2856/9087848961_93e5b5a149_m.jpg) 200px 400px no-repeat, */
/* url(https://farm8.staticflickr.com/7361/9263218750_eaa09fd78e_m.jpg) 200px 500px no-repeat, */
/* url(https://farm6.staticflickr.com/5726/22984235820_39bafd72b4_m.jpg) 200px 600px no-repeat, */
/* url(https://farm2.staticflickr.com/1416/1465820155_1097efce0f_m.jpg) 200px 700px no-repeat, */
/* url(https://farm2.staticflickr.com/1157/1465822899_a5f8acd593_m.jpg) 200px 800px no-repeat, */
/* url(https://farm2.staticflickr.com/1415/1466673856_f73070246b_m.jpg) 200px 900px no-repeat, */
/* url(https://farm2.staticflickr.com/1193/1466677864_9438844c29_m.jpg) 200px 1000px no-repeat, */
/* url(https://farm3.staticflickr.com/2385/1958078298_a809e47784_m.jpg) 200px 1100px no-repeat, */
/* url(https://farm4.staticflickr.com/3102/2526137792_13d4cebd9e_m.jpg) 200px 1200px no-repeat, */
/* url(https://farm4.staticflickr.com/3102/2815537075_b32e8a3528_m.jpg) 200px 1300px no-repeat, */
/* url(https://farm4.staticflickr.com/3524/3276698803_ed7369f23e_m.jpg) 200px 1400px no-repeat, */
/* url(https://farm2.staticflickr.com/1193/1466677864_9438844c29_m.jpg) 300px 0px no-repeat, */
/* url(https://farm3.staticflickr.com/2385/1958078298_a809e47784_m.jpg) 300px 100px no-repeat, */
/* url(https://farm4.staticflickr.com/3102/2526137792_13d4cebd9e_m.jpg) 300px 200px no-repeat, */
/* url(https://farm4.staticflickr.com/3102/2815537075_b32e8a3528_m.jpg) 300px 300px no-repeat, */
/* url(https://farm4.staticflickr.com/3524/3276698803_ed7369f23e_m.jpg) 300px 400px no-repeat, */
/* url(https://farm3.staticflickr.com/2431/3572370580_8c8c7760f2_m.jpg) 300px 500px no-repeat, */
/* url(https://farm3.staticflickr.com/2662/3705986128_47f3fe3b4f_m.jpg) 300px 600px no-repeat, */
/* url(https://farm3.staticflickr.com/2665/3832466904_c4fe165d55_m.jpg) 300px 700px no-repeat, */
/* url(https://farm5.staticflickr.com/4020/4414057175_d8b87bc161_m.jpg) 300px 800px no-repeat, */
/* url(https://farm5.staticflickr.com/4032/4430887260_faf4a414c9_m.jpg) 300px 900px no-repeat, */
/* url(https://farm5.staticflickr.com/4029/4450233798_3036bab876_m.jpg) 300px 1000px no-repeat, */
/* url(https://farm5.staticflickr.com/4034/4510297188_8763a68f23_m.jpg) 300px 1100px no-repeat, */
/* url(https://farm5.staticflickr.com/4046/4696563833_3042a1ff3e_m.jpg) 300px 1200px no-repeat, */
/* url(https://farm4.staticflickr.com/3260/5810605863_c8152817ef_m.jpg) 300px 1300px no-repeat, */
/* url(https://farm3.staticflickr.com/2532/5811171964_caf276e498_m.jpg) 300px 1400px no-repeat, */
/* url(https://farm5.staticflickr.com/4029/4450233798_3036bab876_m.jpg) 400px 0px no-repeat, */
/* url(https://farm5.staticflickr.com/4034/4510297188_8763a68f23_m.jpg) 400px 100px no-repeat, */
/* url(https://farm5.staticflickr.com/4046/4696563833_3042a1ff3e_m.jpg) 400px 200px no-repeat, */
/* url(https://farm4.staticflickr.com/3260/5810605863_c8152817ef_m.jpg) 400px 300px no-repeat, */
/* url(https://farm3.staticflickr.com/2532/5811171964_caf276e498_m.jpg) 400px 400px no-repeat, */
/* url(https://farm4.staticflickr.com/3033/5819368973_1149c294d5_m.jpg) 400px 500px no-repeat, */
/* url(https://farm7.staticflickr.com/6018/5992562845_ace1ee64f3_m.jpg) 400px 600px no-repeat, */
/* url(https://farm7.staticflickr.com/6137/5993304538_26bf2868e5_m.jpg) 400px 700px no-repeat, */
/* url(https://farm7.staticflickr.com/6190/6076910919_7ff91468df_m.jpg) 400px 800px no-repeat, */
/* url(https://farm7.staticflickr.com/6031/6372712827_92b2ab260b_m.jpg) 400px 900px no-repeat, */
/* url(https://farm8.staticflickr.com/7038/7004964030_e5b8ce8967_m.jpg) 400px 1000px no-repeat, */
/* url(https://farm9.staticflickr.com/8141/7100863037_119fc8afae_m.jpg) 400px 1100px no-repeat, */
/* url(https://farm8.staticflickr.com/7236/7188749403_b5c058524e_m.jpg) 400px 1200px no-repeat, */
/* url(https://farm8.staticflickr.com/7227/7228779624_90be70bf45_m.jpg) 400px 1300px no-repeat, */
/* url(https://farm9.staticflickr.com/8025/7474065798_617933ea14_m.jpg) 400px 1400px no-repeat, */
/* url(https://farm8.staticflickr.com/7038/7004964030_e5b8ce8967_m.jpg) 500px 0px no-repeat, */
/* url(https://farm9.staticflickr.com/8141/7100863037_119fc8afae_m.jpg) 500px 100px no-repeat, */
/* url(https://farm8.staticflickr.com/7236/7188749403_b5c058524e_m.jpg) 500px 200px no-repeat, */
/* url(https://farm8.staticflickr.com/7227/7228779624_90be70bf45_m.jpg) 500px 300px no-repeat, */
/* url(https://farm9.staticflickr.com/8025/7474065798_617933ea14_m.jpg) 500px 400px no-repeat, */
/* url(https://farm8.staticflickr.com/7139/7484895894_afc8892ced_m.jpg) 500px 500px no-repeat, */
/* url(https://farm8.staticflickr.com/7249/7699440298_9197921d41_m.jpg) 500px 600px no-repeat, */
/* url(https://farm8.staticflickr.com/7259/7847482182_019faf41e9_m.jpg) 500px 700px no-repeat, */
/* url(https://farm9.staticflickr.com/8036/8072077135_4621dd9f44_m.jpg) 500px 800px no-repeat, */
/* url(https://farm9.staticflickr.com/8221/8265653366_ecbc5921d7_m.jpg) 500px 900px no-repeat, */
/* url(https://farm9.staticflickr.com/8499/8288746449_21bf4cc692_m.jpg) 500px 1000px no-repeat, */
/* url(https://farm9.staticflickr.com/8530/8669670803_88e98ed2ed_m.jpg) 500px 1100px no-repeat, */
/* url(https://farm9.staticflickr.com/8385/8671109388_9bfcb4673f_m.jpg) 500px 1200px no-repeat, */
/* url(https://farm9.staticflickr.com/8253/8671112204_080e25bafb_m.jpg) 500px 1300px no-repeat, */
/* url(https://farm9.staticflickr.com/8265/8671115298_7b06156c62_m.jpg) 500px 1400px no-repeat, */
/* url(https://farm9.staticflickr.com/8499/8288746449_21bf4cc692_m.jpg) 600px 0px no-repeat, */
/* url(https://farm9.staticflickr.com/8530/8669670803_88e98ed2ed_m.jpg) 600px 100px no-repeat, */
/* url(https://farm9.staticflickr.com/8385/8671109388_9bfcb4673f_m.jpg) 600px 200px no-repeat, */
/* url(https://farm9.staticflickr.com/8253/8671112204_080e25bafb_m.jpg) 600px 300px no-repeat, */
/* url(https://farm9.staticflickr.com/8265/8671115298_7b06156c62_m.jpg) 600px 400px no-repeat, */
/* url(https://farm9.staticflickr.com/8389/8677338682_db758a32b1_m.jpg) 600px 500px no-repeat, */
/* url(https://farm4.staticflickr.com/3700/9217132727_03f1a4e761_m.jpg) 600px 600px no-repeat, */
/* url(https://farm6.staticflickr.com/5545/12073721224_6e527c9d21_m.jpg) 600px 700px no-repeat, */
/* url(https://farm8.staticflickr.com/7340/12073983356_f6624bedb2_m.jpg) 600px 800px no-repeat, */
/* url(https://farm4.staticflickr.com/3787/12201630314_771f23562e_m.jpg) 600px 900px no-repeat, */
/* url(https://farm4.staticflickr.com/3919/14868531327_0cb5480892_m.jpg) 600px 1000px no-repeat, */
/* url(https://farm8.staticflickr.com/7598/16914649096_788ce9d7ea_m.jpg) 600px 1100px no-repeat, */
/* url(https://farm4.staticflickr.com/3752/19721227078_e2beecafde_m.jpg) 600px 1200px no-repeat, */
/* url(https://farm1.staticflickr.com/114/301846808_9965c39b72_m.jpg) 600px 1300px no-repeat, */
/* url(https://farm1.staticflickr.com/163/427668104_3f2ded5845_m.jpg) 600px 1400px no-repeat, */
/* url(https://farm4.staticflickr.com/3919/14868531327_0cb5480892_m.jpg) 700px 0px no-repeat, */
/* url(https://farm8.staticflickr.com/7598/16914649096_788ce9d7ea_m.jpg) 700px 100px no-repeat, */
/* url(https://farm4.staticflickr.com/3752/19721227078_e2beecafde_m.jpg) 700px 200px no-repeat, */
/* url(https://farm1.staticflickr.com/114/301846808_9965c39b72_m.jpg) 700px 300px no-repeat, */
/* url(https://farm1.staticflickr.com/163/427668104_3f2ded5845_m.jpg) 700px 400px no-repeat, */
/* url(https://farm1.staticflickr.com/206/492120354_66a218de81_m.jpg) 700px 500px no-repeat, */
/* url(https://farm3.staticflickr.com/2017/1994828225_398a904936_m.jpg) 700px 600px no-repeat, */
/* url(https://farm4.staticflickr.com/3107/2434203812_aeb7b14505_m.jpg) 700px 700px no-repeat, */
/* url(https://farm4.staticflickr.com/3056/2621826398_b152f4028e_m.jpg) 700px 800px no-repeat, */
/* url(https://farm4.staticflickr.com/3009/2816388708_b0da9c964c_m.jpg) 700px 900px no-repeat, */
/* url(https://farm4.staticflickr.com/3452/3277523376_438ffdda06_m.jpg) 700px 1000px no-repeat, */
/* url(https://farm4.staticflickr.com/3561/3471442671_d0dc493463_m.jpg) 700px 1100px no-repeat, */
/* url(https://farm4.staticflickr.com/3435/3847278802_c08aebe743_m.jpg) 700px 1200px no-repeat, */
/* url(https://farm4.staticflickr.com/3504/3924667744_9348acb1b2_m.jpg) 700px 1300px no-repeat, */
/* url(https://farm5.staticflickr.com/4011/4249979170_aa6153d326_m.jpg) 700px 1400px no-repeat, */
/* url(https://farm4.staticflickr.com/3452/3277523376_438ffdda06_m.jpg) 800px 0px no-repeat, */
/* url(https://farm4.staticflickr.com/3561/3471442671_d0dc493463_m.jpg) 800px 100px no-repeat, */
/* url(https://farm4.staticflickr.com/3435/3847278802_c08aebe743_m.jpg) 800px 200px no-repeat, */
/* url(https://farm4.staticflickr.com/3504/3924667744_9348acb1b2_m.jpg) 800px 300px no-repeat, */
/* url(https://farm5.staticflickr.com/4011/4249979170_aa6153d326_m.jpg) 800px 400px no-repeat, */
/* url(https://farm5.staticflickr.com/4027/4573908172_85a49beb7c_m.jpg) 800px 500px no-repeat, */
/* url(https://farm5.staticflickr.com/4002/4653935475_844786aeb0_m.jpg) 800px 600px no-repeat, */
/* url(https://farm5.staticflickr.com/4047/4653935951_ee840a1c33_m.jpg) 800px 700px no-repeat, */
/* url(https://farm5.staticflickr.com/4054/4682124797_af82456bcf_m.jpg) 800px 800px no-repeat, */
/* url(https://farm5.staticflickr.com/4055/4682745412_2e1d6a612d_m.jpg) 800px 900px no-repeat, */
/* url(https://farm2.staticflickr.com/1290/4697197596_b9af6f6a34_m.jpg) 800px 1000px no-repeat, */
/* url(https://farm5.staticflickr.com/4152/4845175589_6cf8a5c0f9_m.jpg) 800px 1100px no-repeat, */
/* url(https://farm6.staticflickr.com/5259/5525087382_7a12a086d3_m.jpg) 800px 1200px no-repeat, */
/* url(https://farm6.staticflickr.com/5063/5703942282_a5e757ef8e_m.jpg) 800px 1300px no-repeat, */
/* url(https://farm3.staticflickr.com/2274/5764134750_234f01b34d_m.jpg) 800px 1400px no-repeat, */
/* url(https://farm2.staticflickr.com/1290/4697197596_b9af6f6a34_m.jpg) 900px 0px no-repeat, */
/* url(https://farm5.staticflickr.com/4152/4845175589_6cf8a5c0f9_m.jpg) 900px 100px no-repeat, */
/* url(https://farm6.staticflickr.com/5259/5525087382_7a12a086d3_m.jpg) 900px 200px no-repeat, */
/* url(https://farm6.staticflickr.com/5063/5703942282_a5e757ef8e_m.jpg) 900px 300px no-repeat, */
/* url(https://farm3.staticflickr.com/2274/5764134750_234f01b34d_m.jpg) 900px 400px no-repeat, */
/* url(https://farm3.staticflickr.com/2053/5766670139_1f9285a53b_m.jpg) 900px 500px no-repeat, */
/* url(https://farm6.staticflickr.com/5077/5810612107_5106a8da38_m.jpg) 900px 600px no-repeat, */
/* url(https://farm6.staticflickr.com/5184/5811178274_98b5e4cc96_m.jpg) 900px 700px no-repeat, */
/* url(https://farm6.staticflickr.com/5269/5819370859_2922cd0d63_m.jpg) 900px 800px no-repeat, */
/* url(https://farm4.staticflickr.com/3402/5819371053_812146b873_m.jpg) 900px 900px no-repeat, */
/* url(https://farm6.staticflickr.com/5317/5819371233_7850f0356b_m.jpg) 900px 1000px no-repeat, */
/* url(https://farm6.staticflickr.com/5235/5819932704_745fc048ba_m.jpg) 900px 1100px no-repeat, */
/* url(https://farm4.staticflickr.com/3168/5827398119_5972cc19ce_m.jpg) 900px 1200px no-repeat, */
/* url(https://farm6.staticflickr.com/5309/5862420934_8544c77dc6_m.jpg) 900px 1300px no-repeat, */
/* url(https://farm7.staticflickr.com/6121/5992745395_b7c4fcc771_m.jpg) 900px 1400px no-repeat, */
/* url(https://farm6.staticflickr.com/5317/5819371233_7850f0356b_m.jpg) 1000px 0px no-repeat, */
/* url(https://farm6.staticflickr.com/5235/5819932704_745fc048ba_m.jpg) 1000px 100px no-repeat, */
/* url(https://farm4.staticflickr.com/3168/5827398119_5972cc19ce_m.jpg) 1000px 200px no-repeat, */
/* url(https://farm6.staticflickr.com/5309/5862420934_8544c77dc6_m.jpg) 1000px 300px no-repeat, */
/* url(https://farm7.staticflickr.com/6121/5992745395_b7c4fcc771_m.jpg) 1000px 400px no-repeat, */
/* url(https://farm7.staticflickr.com/6022/5993305610_016495c369_m.jpg) 1000px 500px no-repeat, */
/* url(https://farm7.staticflickr.com/6131/5993306666_2db614b88c_m.jpg) 1000px 600px no-repeat, */
/* url(https://farm7.staticflickr.com/6075/6051944312_5cd995f91d_m.jpg) 1000px 700px no-repeat, */
/* url(https://farm7.staticflickr.com/6087/6080326029_bdb5bb14b2_m.jpg) 1000px 800px no-repeat, */
/* url(https://farm7.staticflickr.com/6158/6160935533_447fa26273_m.jpg) 1000px 900px no-repeat, */
/* url(https://farm7.staticflickr.com/6223/6250575417_a633cc0e29_m.jpg) 1000px 1000px no-repeat, */
/* url(https://farm8.staticflickr.com/7210/6913225943_b647c33998_m.jpg) 1000px 1100px no-repeat, */
/* url(https://farm8.staticflickr.com/7180/6943032117_3fd0537391_m.jpg) 1000px 1200px no-repeat, */
/* url(https://farm9.staticflickr.com/8022/7170947005_bfc9a815c7_m.jpg) 1000px 1300px no-repeat, */
/* url(https://farm9.staticflickr.com/8013/7462288414_566492e76f_m.jpg) 1000px 1400px no-repeat, */
/* url(https://farm7.staticflickr.com/6223/6250575417_a633cc0e29_m.jpg) 1100px 0px no-repeat, */
/* url(https://farm8.staticflickr.com/7210/6913225943_b647c33998_m.jpg) 1100px 100px no-repeat, */
/* url(https://farm8.staticflickr.com/7180/6943032117_3fd0537391_m.jpg) 1100px 200px no-repeat, */
/* url(https://farm9.staticflickr.com/8022/7170947005_bfc9a815c7_m.jpg) 1100px 300px no-repeat, */
/* url(https://farm9.staticflickr.com/8013/7462288414_566492e76f_m.jpg) 1100px 400px no-repeat, */
/* url(https://farm8.staticflickr.com/7129/7533554022_b658072826_m.jpg) 1100px 500px no-repeat, */
/* url(https://farm9.staticflickr.com/8167/7626775502_f67f5c78ae_m.jpg) 1100px 600px no-repeat, */
/* url(https://farm8.staticflickr.com/7133/7847485986_4ebc391291_m.jpg) 1100px 700px no-repeat, */
/* url(https://farm9.staticflickr.com/8429/7847538578_1b0887d2d3_m.jpg) 1100px 800px no-repeat, */
/* url(https://farm8.staticflickr.com/7107/7847540924_a3dab2cf35_m.jpg) 1100px 900px no-repeat, */
/* url(https://farm9.staticflickr.com/8170/7927131810_0d93c15667_m.jpg) 1100px 1000px no-repeat, */
/* url(https://farm9.staticflickr.com/8041/8060792496_a3ac042121_m.jpg) 1100px 1100px no-repeat, */
/* url(https://farm9.staticflickr.com/8066/8173661859_015231f998_m.jpg) 1100px 1200px no-repeat, */
/* url(https://farm9.staticflickr.com/8200/8173662011_22c5a9ca84_m.jpg) 1100px 1300px no-repeat, */
/* url(https://farm9.staticflickr.com/8342/8173662177_ec5b52ac30_m.jpg) 1100px 1400px no-repeat, */
/* url(https://farm9.staticflickr.com/8170/7927131810_0d93c15667_m.jpg) 1200px 0px no-repeat, */
/* url(https://farm9.staticflickr.com/8041/8060792496_a3ac042121_m.jpg) 1200px 100px no-repeat, */
/* url(https://farm9.staticflickr.com/8066/8173661859_015231f998_m.jpg) 1200px 200px no-repeat, */
/* url(https://farm9.staticflickr.com/8200/8173662011_22c5a9ca84_m.jpg) 1200px 300px no-repeat, */
/* url(https://farm9.staticflickr.com/8342/8173662177_ec5b52ac30_m.jpg) 1200px 400px no-repeat, */
/* url(https://farm9.staticflickr.com/8067/8173662507_a608df02f4_m.jpg) 1200px 500px no-repeat, */
/* url(https://farm9.staticflickr.com/8345/8173670263_6535d830e5_m.jpg) 1200px 600px no-repeat, */
/* url(https://farm9.staticflickr.com/8060/8173694452_a7c51d8328_m.jpg) 1200px 700px no-repeat, */
/* url(https://farm9.staticflickr.com/8207/8173694826_3f4f3dc9fa_m.jpg) 1200px 800px no-repeat, */
/* url(https://farm9.staticflickr.com/8483/8217980107_156e646bf9_m.jpg) 1200px 900px no-repeat, */
/* url(https://farm9.staticflickr.com/8359/8288740033_f65383e550_m.jpg) 1200px 1000px no-repeat, */
/* url(https://farm9.staticflickr.com/8213/8326869269_da21383855_m.jpg) 1200px 1100px no-repeat, */
/* url(https://farm8.staticflickr.com/7448/9739808801_d82da2dab0_m.jpg) 1200px 1200px no-repeat, */
/* url(https://farm8.staticflickr.com/7307/9739810987_fd016561a6_m.jpg) 1200px 1300px no-repeat, */
/* url(https://farm6.staticflickr.com/5480/10055322603_83e5f6a531_m.jpg) 1200px 1400px no-repeat, */
/* url(https://farm9.staticflickr.com/8359/8288740033_f65383e550_m.jpg) 1300px 0px no-repeat, */
/* url(https://farm9.staticflickr.com/8213/8326869269_da21383855_m.jpg) 1300px 100px no-repeat, */
/* url(https://farm8.staticflickr.com/7448/9739808801_d82da2dab0_m.jpg) 1300px 200px no-repeat, */
/* url(https://farm8.staticflickr.com/7307/9739810987_fd016561a6_m.jpg) 1300px 300px no-repeat, */
/* url(https://farm6.staticflickr.com/5480/10055322603_83e5f6a531_m.jpg) 1300px 400px no-repeat, */
/* url(https://farm4.staticflickr.com/3667/10933230836_3ba91f46e7_m.jpg) 1300px 500px no-repeat, */
/* url(https://farm6.staticflickr.com/5502/10933256366_5098e5ee19_m.jpg) 1300px 600px no-repeat, */
/* url(https://farm6.staticflickr.com/5485/10933333044_88e88aa53e_m.jpg) 1300px 700px no-repeat, */
/* url(https://farm6.staticflickr.com/5483/10933438273_d3fde25523_m.jpg) 1300px 800px no-repeat, */
/* url(https://farm3.staticflickr.com/2827/10933457433_b7042e31e5_m.jpg) 1300px 900px no-repeat, */
/* url(https://farm3.staticflickr.com/2823/12899848043_4578bfa556_m.jpg) 1300px 1000px no-repeat, */
/* url(https://farm8.staticflickr.com/7503/15841093025_0cb6529641_m.jpg) 1300px 1100px no-repeat, */
/* url(https://farm8.staticflickr.com/7639/16967219746_b245bc826e_m.jpg) 1300px 1200px no-repeat, */
/* url(https://farm9.staticflickr.com/8808/17256985690_8148893225_m.jpg) 1300px 1300px no-repeat, */
/* url(https://farm6.staticflickr.com/5632/19922538863_a7f572abb6_m.jpg) 1300px 1400px no-repeat, */
/* url(https://farm3.staticflickr.com/2823/12899848043_4578bfa556_m.jpg) 1400px 0px no-repeat, */
/* url(https://farm8.staticflickr.com/7503/15841093025_0cb6529641_m.jpg) 1400px 100px no-repeat, */
/* url(https://farm8.staticflickr.com/7639/16967219746_b245bc826e_m.jpg) 1400px 200px no-repeat, */
/* url(https://farm9.staticflickr.com/8808/17256985690_8148893225_m.jpg) 1400px 300px no-repeat, */
/* url(https://farm6.staticflickr.com/5632/19922538863_a7f572abb6_m.jpg) 1400px 400px no-repeat, */
/* url(https://farm1.staticflickr.com/547/19945072768_1c2d4c52bd_m.jpg) 1400px 500px no-repeat, */
/* url(https://farm1.staticflickr.com/498/19945163760_f6c7938fde_m.jpg) 1400px 600px no-repeat, */
/* url(https://farm1.staticflickr.com/390/20151288791_1af5a1b37d_m.jpg) 1400px 700px no-repeat, */
/* url(https://farm6.staticflickr.com/5657/20340994310_f0d2523882_m.jpg) 1400px 800px no-repeat, */
/* url(https://farm1.staticflickr.com/735/20349877750_901449a3d4_m.jpg) 1400px 900px no-repeat, */
/* url(https://farm1.staticflickr.com/668/20356880369_49796171d7_m.jpg) 1400px 1000px no-repeat, */
/* url(https://farm6.staticflickr.com/5675/21833186844_8d4ec31f75_m.jpg) 1400px 1100px no-repeat, */
/* url(https://farm1.staticflickr.com/644/22268204808_aff4052744_m.jpg) 1400px 1200px no-repeat, */
/* url(https://farm1.staticflickr.com/58/224954616_417803aa61_m.jpg) 1400px 1300px no-repeat, */
/* url(https://farm1.staticflickr.com/121/278875526_8ff324c054_m.jpg) 1400px 1400px no-repeat; */

/* 	position: relative; */
/* 	background-size: 100px 100px; */

/* } */

.starter-template {
  padding: 40px 15px;
  text-align: center;
}
.tags {
	font-style: italic;
}


.chart div {
  font: 10px sans-serif;
  background-color: steelblue;
  text-align: right;
  padding: 3px;
  margin: 1px;
  color: white;
}

H1, H2, H3 {
    color: #FFF;
    text-shadow: -1px -1px 0px #000, 1px -1px 0px #000, -1px 1px 0px #000, 1px 1px 0px #000;
}

h1{
	font-size: 50px;
}


div#km {
    color: #FFF;
    text-shadow: -1px -1px 0px #000, 1px -1px 0px #000, -1px 1px 0px #000, 1px 1px 0px #000;
	font-size: 20px;
}

html,body{height:100%;}

#map {
    width: 100%;
    height: 100%;
    min-height: 100%;
    display: block;
}

input-placeholder{
	text-align: center;
}