html, body {
    height: 100%;
    width: 100%;
}

.navbar-inverse {
  background-color: rgba(0,0,0,.7);
}

#map {
    height: 100%;
    width: 100%;
    left: 0;
    position: relative;
    top: 0;
}