<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<meta name="description" content="">
		<meta name="author" content="">
		<link rel="icon" href="../../favicon.ico">

		<title>Dog.Meetup</title>

		<link href="../static/css/bootstrap.min.css" rel="stylesheet">
		<link href="../static/css/starter-template.css" rel="stylesheet">

		<!-- <link rel="stylesheet" type="text/css" -->
		<!-- 	  href="{{ url_for('static', filename='style.css') }}"> -->

	</head>

	<body>

		<nav class="navbar navbar-inverse navbar-fixed-top">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="#">Project name</a>
				</div>
				
				<div id="navbar" class="collapse navbar-collapse">
					<ul class="nav navbar-nav">
						<li class="active"><a href="#">Home</a></li>
						<li><a href="#about">About</a></li>
						<li><a href="#contact">Contact</a></li>
					</ul>
				</div><!--/.nav-collapse -->
			</div>
		</nav>

		<br><br>
		
		<div class="container">

			<div class="starter-template">
				<h2>Dog.Meetup</h2>
				<p>Enter information blow</p>

				<div class = "container">

					<form action="/map" method="GET">
						<div class="form-group">
							<label for="query_tag">Your address:</label>
							<input type="text" id="address" size="50" name='address'
								   id="address"
								   placeholder="260 Sheridan Ave, Palo Alto, CA 94306">

							<label for="query_distance">within:</label>
							<input type="number" id="distance" size="5"
								   name='distance' value="5" 
								   placeholder="5" min="1"> km.
							
							<label for="query_time">Time:</label>
							<select class="input-small" id="time" name="time">
								<option value="0">12 AM</option>
								<option value="1"> 1 AM</option>
								<option value="2"> 2 AM</option>
								<option value="3"> 3 AM</option>
								<option value="4"> 4 AM</option>
								<option value="5"> 5 AM</option>
								<option value="6"> 6 AM</option>
								<option value="7"> 7 AM</option>
								<option value="8"> 8 AM</option>
								<option value="9"> 9 AM</option>
								<option value="10">10 AM</option>
								<option value="11">11 AM</option>
								<option value="12">12 PM</option>
								<option value="13"> 1 PM</option>
								<option value="14"> 2 PM</option>
								<option value="15"> 3 PM</option>
								<option value="16"> 4 PM</option>
								<option value="17"> 5 PM</option>
								<option value="18"> 6 PM</option>
								<option value="19"> 7 PM</option>
								<option value="20"> 8 PM</option>
								<option value="21"> 9 PM</option>
								<option value="22">10 PM</option>
								<option value="23">11 PM</option>
							</select>
							
						</div>
						
						<div>
							<button type="submit" id="submit"
									class="btn btn-default btn-lg">
								Find dogs around your area!
							</button>
						</div>

					</form>
				</div>

			</div>

			
			<script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
			<script src="static/js/bootstrap.min.js"></script>

		</div> <!-- /.container-->

		<!-- 		Geocoder -->
		<!-- <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB7LvwvLJN0l04rFfHbIyUBsqi61vP6qWA&signed_in=true"></script> -->
		<!-- <script>
			 
			 var geocoder = new google.maps.Geocoder();
			 document.getElementById('submit').addEventListener('click', function() {
			 geocodeAddress(geocoder);
			 });

			 function geocodeAddress(geocoder) {
			 var address = document.getElementById('address').value;
			 if (address == ''){
			 address = '260 Sheridan Ave, Palo Alto, CA 94306';
			 }
			 
			 var time = document.getElementById('time').value;
			 
			 geocoder.geocode({'address': address}, function(results, status) {
			 if (status === google.maps.GeocoderStatus.OK) {
			 latlon = [results[0].geometry.location.lat(),
			 results[0].geometry.location.lng()]
			 console.log(latlon);
			 
			 $.ajax({
			 url: "/map",
			 data: {lat: +latlon[0],
			 lon: +latlon[1],
			 address: address,
			 time: time},
			 type: 'GET',
			 success: function(response) {
			 document.write(response);
			 },
			 error: function(error) {
			 console.log(error);
			 }
			 });
			 } else {
			 alert('Geocode was not successful for the following reason: ' + status);
			 }
			 });
			 }
			 
			 
			 </script> -->

		
		<!-- Bootstrap core JavaScript
			 ================================================== -->
		<!-- Placed at the end of the document so the pages load faster -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
		
		
	</body>
</html>
