<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<meta name="description" content="DogMeetup: Dog meetup app">
		<meta name="author" content="Yusuke Sakamoto">
		<link rel="icon" href="../../favicon.ico">

		<!-- send values to javascript -->
		<meta id="hour" data-name="{{ hour }}">
		<meta id="hour_24" data-name="{{ hour_24 }}">
		<meta id="address" data-name="{{ address }}">
		<meta id="distance" data-name="{{ distance }}">
		
		<meta id="kde_score_max" data-name="{{ kde_score_max }}">
		<meta id="tempfile" data-name="{{ tempfile }}">

		<link rel="stylesheet prefetch" href="{{ url_for('static', filename='css/bootstrap.min.css') }}"></script>
		<link rel="stylesheet prefetch" href="{{ url_for('static', filename='css/bootstrap-theme.min.css') }}"></script>

		<title>DogMeetup</title>

		<script src="{{ url_for('static', filename='js/jquery-1.12.0.min.js') }}"></script>

		<script src="//d3js.org/d3.v3.min.js" charset="utf-8"></script>
		<script type="text/javascript" src="https://www.google.com/jsapi"></script>


		<script src="{{ url_for('static', filename='js/set_objects.js') }}"></script>
		<script src="{{ url_for('static', filename='js/map_style.js') }}"></script>
		<script src="{{ url_for('static', filename='js/map_controls.js') }}"></script>

		<link rel="stylesheet prefetch" href="{{ url_for('static', filename='css/starter-template.css') }}"></script>

	</head>

	<body>

		<!-- Fixed navbar -->
		<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="/">DogMeetup</a>
				</div>
				
				<div id="navbar" class="navbar-collapse collapse">

					<ul class="nav navbar-nav navbar-right">

						<li class="search">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Search<span class="caret"></span></a>
							<ul class="dropdown-menu">
								<li>

									<form action="/map" method="GET"
										  class="navbar-form navbar-left navbar-input-group" role="search">
										
										<div class="input-group">
											<input type="text"
												   class="form-control"
												   placeholder="Golden Gate Park, San Francisco"
												   name="address"
												   id="address">
										</div>

										<div class="input-group">
											<input type="number"
												   class="form-control"
												   placeholder="5"
												   aria-describedby="basic-addon2"
												   min="1" max="25"
												   name="distance"
												   id="distance">
											<span class="input-group-addon"
												  id="basic-addon2">
												km
											</span>
										</div>
										<div class="input-group">
											<select class="input-large" id="time" name="time">
												<option value="0">12 AM</option>
												<option value="1"> 1 AM</option>
												<option value="2"> 2 AM</option>
												<option value="3"> 3 AM</option>
												<option value="4"> 4 AM</option>
												<option value="5"> 5 AM</option>
												<option value="6"> 6 AM</option>
												<option value="7"> 7 AM</option>
												<option value="8"> 8 AM</option>
												<option value="9"> 9 AM</option>
												<option value="10">10 AM</option>
												<option value="11">11 AM</option>
												<option value="12">12 PM</option>
												<option value="13"> 1 PM</option>
												<option value="14"> 2 PM</option>
												<option value="15" selected="selected"> 3 PM</option>
												<option value="16"> 4 PM</option>
												<option value="17"> 5 PM</option>
												<option value="18"> 6 PM</option>
												<option value="19"> 7 PM</option>
												<option value="20"> 8 PM</option>
												<option value="21"> 9 PM</option>
												<option value="22">10 PM</option>
												<option value="23">11 PM</option>
											</select>				  
										</div>
										
										<button type="submit" class="btn btn-default">Submit</button>
									</form>

								</li>
							</ul>
						</li>

						
						<li><a href="{{ url_for('static', filename='demo.pdf') }}">Presentation</a></li>
						<li class="active"><a href="https://github.com/yskmt/dog.meetup">Github<span class="sr-only">(current)</span></a></li>
					</ul>
					
				</div><!--/.nav-collapse -->
			</div>
		</nav>
		<br><br>

		<div class="container">
			<div class="starter-template">
				<div id="map"></div>
			</div>
		</div>
		
		<!-- render map -->
		<script>
		 google.load('visualization', '1.0', {'packages':['corechart']});
		 
		 var map;
		 var myLatLng;  /* center of the search */
		 var heatmap;
		 var heatpoints = [];
		 var markers = [];
		 var top3_markers = [];
		 var ellipses = [];
		 var is_marker = 0; /* 0: heatmap, 1: markers, 2: cluster */
		 var info_window_cluster;
		 var info_window;  /* infowindow for a marker */
		 
		 var hour = $('meta#hour').data()['name'];
		 var hour_24 = $('meta#hour_24').data()['name'];
		 var address = $('meta#address').data()['name'];
		 var distance = $('meta#distance').data()['name'];
		 
		 var kde_score_max = $('meta#kde_score_max').data()['name'];
		 var tempfile = $('meta#tempfile').data()['name'];
		 
		 var dataset = {{ photos|tojson }};
		 var clusters = {{ cluster_shape|tojson }};
		 var max_label = {{ max_label }};
		 var top3 = {{ top3|tojson }};

		 var colors20 = d3.scale.category20().range();

		 jQuery(document).ready(function($){
			 
			 myLatLng = {lat:{{ center[0] }},
						 lng:{{ center[1] }}};

			 var styledMap = new google.maps.StyledMapType(styles,
														   {name: "Styled Map"});
			 
			 map = new google.maps.Map(document.getElementById('map'), {
				 zoom: 14,
				 center: myLatLng,
				 scaleControl: true,
				 mapTypeControl: false
				 <!-- mapTypeControlOptions: { -->
					 <!-- 	 mapTypeIds: [google.maps.MapTypeId.ROADMAP, 'map_style'] -->
					 <!-- } -->

			 });

			 map.mapTypes.set('map_style', styledMap);
			 map.setMapTypeId('map_style');

			 /* Create the DIV to hold the control and call the
				CenterControl() constructor */
			 /* passing in this DIV. */
			 var centerControlDiv = document.createElement('div');
			 var centerControl = new CenterControl(centerControlDiv, map);
			 centerControlDiv.index = 1;
			 map.controls[google.maps.ControlPosition.BOTTOM_CENTER].push(centerControlDiv);

			 var topControlDiv = document.createElement('div');
			 var topControl = new TopControl(topControlDiv, map);
			 topControlDiv.index = 2;
			 map.controls[google.maps.ControlPosition.TOP_CENTER].push(topControlDiv);
			 
			 function getPoints() {
				 return heatpoints;
			 }
			 
			 /* Heatmap */
			 heatmap = new google.maps.visualization.HeatmapLayer({
				 data: getPoints(),
				 map: map,
				 radius: 0.0025,
				 dissipating: false,
				 maxIntensity: 20
			 });
			 
			 if (max_label > 20){
				 var pinColors = d3.scale.linear()
								   .domain(linspace(0, max_label, 20))
								   .range(colors20);
			 }
			 else{
				 var pinColors = d3.scale.linear()
								   .domain(linspace(0, max_label, 20))
								   .range(colors20.slice(0, max_label-1));
			 }
			 
			 var infowindow = new google.maps.InfoWindow();

			 /* plot individual markers/photos */
			 jQuery.each(dataset, function(i, d) {
				 
				 heatpoints.push({
					 location: new google.maps.LatLng(
						 parseFloat(d["latitude"]),
						 parseFloat(d["longitude"])),
					 weight: parseFloat(d["kde_score_2"])}
				 );

				 var pc = pinColors(parseFloat(d["label"]));
				 var latlng = {lat: parseFloat(d["latitude"]),
							   lng: parseFloat(d["longitude"])};
				 
				 var circle = new google.maps.Marker({
					 position: latlng,
					 icon: {
						 path: google.maps.SymbolPath.CIRCLE,
						 fillOpacity: 0.8,
						 fillColor: pc,
						 strokeOpacity: 1.0,
						 strokeColor: 'gray',
						 strokeWeight: 1.0, 
						 scale: 5
					 },
					 map: null
				 });

				 markers.push(circle);

				 var contentstring =  "<a href=\""+ d["url_m"] + "\">"
									+ "<img src=\""+ d["url_m"] + "\""
									+ "height=\"200\"" + ">"
									+ "</a>";

				 circle.addListener('click', function() {
					 infowindow.setContent(contentstring);
					 infowindow.open(map, circle);						 						 
				 });
				 
			 });

			 var directionsService = new google.maps.DirectionsService;
			 var directionsDisplays = [];
			 var k=0;

			 /* top 3 clusters */
			 jQuery.each(top3, function(i, d) {
				 var ddm = draw_dog_marker(i, d, pinColors, map,
										   "{{ url_for('static', filename='dog.png') }}");
				 var dog_info_window = ddm.info_window;
				 top3_markers.push(ddm.marker);
				 ddm.marker.setMap(map);
				 /* open_dog_info(ddm.marker.position.lat(), ddm.marker.position.lng(),
					dog_info_window); */
			 }); 

			 /* heat map only			  */
			 map.addListener('click', function(event) {
				 if (is_marker != 0){
					 return false;
				 }
				 
				 /* ajax request */
				 $.getJSON('/_add_numbers', {
					 lat: event.latLng.lat(),
					 lon: event.latLng.lng(),
					 lat_c: myLatLng.lat,
					 lon_c: myLatLng.lng,
					 kde_score_max: kde_score_max,
					 tempfile: tempfile
				 }, function(data) {

					 score = [];
					 $.each(data.result[0], function(i,d){
						 /* v: time of day, f: string */
						 if (+i == +hour_24){
							 score.push([{v: [(+i), 0, 0], f: i}, d, 'red']);
						 }
						 else{
							 score.push([{v: [(+i), 0, 0], f: i}, d, 'color: #76A7FA']);
						 }
					 });

					 var data = new google.visualization.DataTable();
					 data.addColumn('timeofday', 'Time of a Day');
					 data.addColumn('number', '');
					 data.addColumn({ type: 'string', role: 'style' });
					 
					 data.addRows(score);
					 
					 var options = {
						 title: 'Dog Level Throughout a Day (out of 5)',
						 hAxis: {
							 title: 'Time of a Day',
							 format: 'h:mm a',
							 viewWindow: {
								 min: [0, 0, 0],
								 max: [24, 0, 0]
							 }
						 },
						 vAxis: {
							 title: 'level',
							 minValue: 0,
							 maxValue: 5.5,
							 ticks: [0, 1, 2, 3, 4, 5]
						 },
						 legend: 'none'
					 };

					 var node        = document.createElement('div'),
						 info_window = new google.maps.InfoWindow(),
						 chart       = new google.visualization.ColumnChart(node);
					 
					 chart.draw(data, options);
					 
					 /* Replace the info window's content and position. */
					 info_window.setContent(node);
					 info_window.setPosition(event.latLng);
					 info_window.open(map);
				 });

			 }); /* addListner */

			 /* calculate the minimum dlat and dlon for cluster radii */
			 var R = 6371.0/1.6;  /* 1.6 for miles */
			 var d_min_m = 0.5;

			 var tan = Math.tan(d_min_m/2/R);
			 var a_sq = tan/(1+tan);
			 
			 var dlat = 2*Math.asin(a_sq);
			 var dlon = 2*Math.asin(a_sq/Math.cos(myLatLng.lat));

			 dlat = dlat/2/Math.PI*180;
			 dlon = dlon/2/Math.PI*180;
			 
			 /* plot each clusters */
			 jQuery.each(clusters, function(i, d) {
				 var pc = pinColors(parseFloat(i));
				 
				 var radii_x = (+d['radii_x']<dlon ? dlon : +d['radii_x']);
				 var radii_y = (+d['radii_y']<dlat ? dlat : +d['radii_y']);

				 xys = get_ellipse_coords(radii_x, radii_y,
																	   +d['lon_c'], +d['lat_c'], +d['orientation'], +d['num_pics'], 10);

				 xs = xys[0];
				 ys = xys[1];
				 den = xys[2];

				 ellipses.push(show_polygon(map, xs, ys,
											{num_pics: +d['num_pics'],
											 hour: hour},
											myLatLng,
											den, pc));
				 
			 });

			 var marker = new google.maps.Marker({
				 position: myLatLng,
				 map: map,
				 title: 'center'
			 });

			 /* heatmap and top3 markers are on in the beginning */
			 heatmap.setMap(map);
			 showTop3();

			 /* center on resize */
			 google.maps.event.addDomListener(window, "resize", function() {
				 google.maps.event.trigger(map, "resize");
				 myLatLng = {lat:{{ center[0] }},
							 lng:{{ center[1] }}};
				 map.setCenter(myLatLng); 
			 });
			 
			 // var map_options = {
			 //   	center: new google.maps.LatLng(latitude, longitude),
				 //   	zoom: map_zoom,
				 //   	panControl: false,
				 //   	zoomControl: true,
				 //   	mapTypeControl: false,
				 //   	streetViewControl: false,
				 //   	mapTypeId: google.maps.MapTypeId.ROADMAP,
				 //   	scrollwheel: false,
				 //   	styles: style,
				 // 	zoomControlOptions: {
			 // 		style: google.maps.ZoomControlStyle.SMALL,
				 // 		position: google.maps.ControlPosition.BOTTOM_CENTER
			 // 	}
			 // }
			 // var map = new google.maps.Map(document.getElementById('map'), map_options);			
			 // var marker = new google.maps.Marker({
			 //   	position: new google.maps.LatLng(latitude, longitude),
				 //     map: map,
				 //     visible: true,
				 //  	icon: marker_url,
				 // });
		 });  /* document.ready */
		 
		 /* Do not close the dropdown when select is on */
		 $("document").ready(function(){
			 $('select').click(function (e) {
				 e.stopPropagation();
			 });
		 });
		 
		</script>

		<!-- <script async defer -->
		<!-- src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB7LvwvLJN0l04rFfHbIyUBsqi61vP6qWA&signed_in=true&libraries=visualization&callback=initMap"></script> -->

		<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
		
		<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB7LvwvLJN0l04rFfHbIyUBsqi61vP6qWA&signed_in=true&libraries=visualization&extension=.js"></script>



		<!-- <script src="http://maps.googleapis.com/maps/api/js?sensor=false&extension=.js"></script> -->

		<!-- <script src="{{ url_for('static', filename='js/index.js') }}"></script> -->

		
		<!-- Bootstrap core JavaScript
			 ================================================== -->
		<!-- Placed at the end of the document so the pages load faster -->
		

	</body>
</html>
