<!DOCTYPE html>
<html lang="en">
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<meta name="description" content="DogMeetup: Dog meetup app">
	<meta name="author" content="Yusuke Sakamoto">
	<link rel="icon" href="../../favicon.ico">

	<meta http-equiv="refresh" content="5;url=/" />
	
	<link rel="stylesheet prefetch" href="{{ url_for('static', filename='css/starter-template.css') }}"></script>

</head>
<body>
<center>
	<h2>{{ error_msg }}<br>
	  Currently app only works in San Francisco and New York City!<br>
	  Redirecting to top page in 5 seconds...</h2>
</center>
</body>
</html>
